
services:

#  teleshake:
#    build: ./teleshake/
#    environment:
#      - PORT=50050
#    ports:
#      - "50050:50050"
#    network_mode: host
#
  sila-browser:
    image: registry.gitlab.com/unitelabs/sila2/sila-browser:latest
    network_mode: host
    ports:
      - "3000:3000"

  robot-arm:
    build: ./robot-arm/
    network_mode: host
    environment:
      - ROBOT_IP=192.168.1.202 # Change
#    command: [ "python", "-m", "genericroboticarm", "--address", "0.0.0.0" ]
    command: python -m genericroboticarm --port 50054 --address 0.0.0.0  -r XArm --robot-ip 192.168.1.202

    volumes:
        - ./robot-arm/new_graphs:/root/.config/GenericRoboticArm/:z

  # Container for testing purposes
  python:
    image: python:3.12
    network_mode: host

  laborchestrator:
    build: ./laborchestrator
    network_mode: host
    volumes:
      - ./laborchestrator:/opt/vu_lab:z
    environment:
      - "DJANGO_SETTINGS_MODULE=settings"
    depends_on:
      - platform_status_db
      - labscheduler
    working_dir: /opt/vu_lab/
    command: python start_script.py
    extra_hosts:
      - "127.0.0.1=172.17.0.1"

  labscheduler:
    image: registry.gitlab.com/openlabautomation/lab-automation-packages/lab-scheduler/labscheduler
    network_mode: host
    volumes:
      - ./laborchestrator/platform_config.yaml:/opt/adaptation_template/platform_config.yaml:z
    command: >
      labscheduler --lab-config-path /opt/adaptation_template/platform_config.yaml

  database:
    image: postgres:18
    environment:
      POSTGRES_USER: platform_status
      POSTGRES_PASSWORD: platform_status
      POSTGRES_DB: platform_status_db
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U platform_status -d platform_status_db" ]
      interval: 10s
      timeout: 5s
      retries: 5
    network_mode: host

  platform_status_db:
    image: registry.gitlab.com/openlabautomation/lab-automation-packages/platform_status_db
    environment:
      DJANGO_SETTINGS_MODULE: settings
    volumes:
      - ./laborchestrator/settings.py:/opt/platform_status_db/settings.py:z
    depends_on:
      database:
        condition: service_healthy
    network_mode: host

volumes:
  pgdata: